{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@containers": "./app/containers",
        "@components": "./app/components"
      }
    }]
  ]
}
